@import "config";

body {
	background-image: url("../images/background.png");
	font-family: 'Roboto', sans-serif;
}

.overlay {
	width: $overlay-size;
	height: $overlay-size;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
}

.popup {
	width: 447px;
	min-height: 345px;
	background-color: white;
	position: fixed;
	left: 0;
	right: 0;
	margin: $center;
	margin-top: 200px;
	border-radius: 5px;
	border: 0;
}

.registration {
	font-size: 22px;
	text-align: center;
	letter-spacing: 4.4px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 25px;
	margin-top: 8px;
}

.form-input {
	width: 291px;
	height: 37px;
	border: 2px solid #e0e0e0;
	border-radius: 7px;
	outline: none;
	font-size: $popup-font-size;
	padding-left: 30px;
}

.icon-position {
 	&::before {
 		position: absolute;
		top: 14px;
		left: 120px;
 	}
}

.email-icon {
	&::before {
		content: url(../images/mail-icon.png);
	}
}

.name-icon {
	&::before {
		content: url(../images/name-icon.png);
	}
}

.password-icon {
	&::before {
		content: url(../images/pass-icon.png);
	}
}

.inputs {
	position: relative;
	text-align: right;
	margin-right: 14px;
	margin-bottom: 17px;
}

.form {
	&-label {
		font-size: $popup-font-size;
		margin-right: 10px;
	}

	&-input {
		&:focus {
			border: 2px solid #7f7f7f;
		}

		&::-webkit-input-placeholder {
			@include form-placeholder;
		}

		&::-moz-placeholder {
			@include form-placeholder;
		}

		&:-ms-input-placeholder {
			@include form-placeholder;
		}
	}

	&-submit {
		min-width: 162px;
		height: 53px;
		color: #ffffff;
		font-size: $popup-font-size;
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		border-radius: 5px;
		background-color: #605ca8;
		outline: none;
		border: 0;
		border-bottom: 3px solid #4e4b89;
		letter-spacing: 2.16px;
		cursor: pointer;
		display: block;
		margin: 26px auto 14px;

		&:hover {
			background-color: #726dc8;
			border-bottom: 3px solid #5f5aa6;
		}

		&:disabled {
			background-color: #cccccc;
			border-bottom: 3px solid #a1a1a1;
		}
	}
}

.reset {
	&-btn {
		background: white;
		outline: none;
		border: 0;
		color: #535353;
		letter-spacing: 1.00px;
		text-transform: uppercase;
		font-size: $popup-font-size;
		text-decoration: underline;
		display: block;
		margin: $center;
		cursor: pointer;

		&:hover {
			color: #605ca8;
		}
	}
}

.close {
	background-image: url(../images/x-normal.png);
	display: block;
	position: absolute;
	left: 102%;
	bottom: 101.5%;
	width: 17px;
	height: 17px;
	cursor: pointer;

	&:hover {
		background-image: url(../images/x-hover.png);
	}
}